name: CI Test 
 
on: 
  push: 
    branches: 
      - main 
 
jobs: 
  build: 
    runs-on: ubuntu-latest 
 
    steps: 
    - name: Checkout du dépôt 
      uses: actions/checkout@v3 
 
    - name: Test simple 
      run: echo "CI Pipeline exécuté avec succès !"
            - name: Déployer sur le serveur FTP
        uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /htdocs/
